<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="character">

<insert id="characterCreate" parameterType="TCharacter">
	INSERT INTO TCHARACTER
	  (USER_ID,
	   CHAR_NO,
	   CHAR_NAME,
	   CHAR_AGE,
	   CHAR_PER1,
	   CHAR_PER2,
	   CHAR_PER3,
	   CHAR_GENDER,
	   DEATH_YN,
	   INSERT_DATE)
	VALUES
	  (#{userId},
	   LPAD(TCHARACTER_NO_SEQ.NEXTVAL, 10 , '0'),
	   #{charName},
	   1,
	   LPAD(#{charPer1}, 3 , '0'),
	   LPAD(#{charPer2}, 3 , '0'),
	   LPAD(#{charPer3}, 3 , '0'),
	   #{charGender},
	   '0',
	   SYSDATE
	  )
</insert>

<select id="charList" resultType="HashMap">
	SELECT A.USER_ID,
	       A.CHAR_NO,
	       A.CHAR_NAME,
	       A.CHAR_AGE,
	       (SELECT B.CODE_DESC
	          FROM TCODE B
	         WHERE B.CODE_LGROUP = 'A01'
	           AND B.CODE_MGROUP = A.CHAR_PER1) AS PER1,
	       (SELECT B.CODE_DESC
	          FROM TCODE B
	         WHERE B.CODE_LGROUP = 'A01'
	           AND B.CODE_MGROUP = A.CHAR_PER2) AS PER2,
	       (SELECT B.CODE_DESC
	          FROM TCODE B
	         WHERE B.CODE_LGROUP = 'A01'
	           AND B.CODE_MGROUP = A.CHAR_PER3) AS PER3,
	       (case when A.CHAR_GENDER ='M' then '♂' else '♀' end) as char_gender,
	       A.DEATH_YN,
	       (case when A.LOVE_NO is null then '없음' else A.LOVE_NO END) as love_NO,
	       A.CHAR_IMG,
	       A.INSERT_DATE
	  FROM TCHARACTER A
	  WHERE A.USER_ID = #{userId}
</select>
<select id="charYn" resultType="HashMap">
	SELECT (CASE WHEN COUNT(1) >= 2 THEN 'X' ELSE 'O' END) AS CHAR_YN
	   FROM TCHARACTER A
	 WHERE A.USER_ID = #{userId}
</select>
</mapper>